<!DOCTYPE HTML>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action='/saludo' method='post'>
      <input type='text' name='nombre'></input>
       	<p>
	    Selecciona:<br>
	    <label><input type="radio" name="genero" value="hombre" checked=""> Hombre</label><br>
	    <label><input type="radio" name="genero" value="mujer"> Mujer</label><br>
	    
  		</p>
      <button type="sumbit">Enviar nombre</button>
    </form>
  </body>
</html>