<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Register</h1>
	<form action="/register" method="post">
		<input type="text" name="username"> Nom
		<br>
		<input type="password" name="password"> Password
		<br>
		<input type="password" name="passwordConf"> Confirm Password
		<br>
		<input type="submit" name="Enviar">
	</form>
</body>
</html>