<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.prop{
			
		}
	</style>
</head>
<body>
	<h1>Gestió Business</h1>
	<div>
		<a href="/restaurant">Crea Business </a>
		<br>
		<a href="/categorias">Add Categories </a>
		<br>
		<a href="/restaurant">Add Productes </a>
	</div>
</body>
</html>
