<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.prop{
			
		}
	</style>
</head>
<body>
	<h1>Register restaurant</h1>
	<div>
		<form action="/restaurant" method="post">
			Nom: <br>  <input type="text" name="username"> 
			<br>
			Poblacio: <br> <input type="text" name="poblacio">
			<br>
			Direccio: <br> <input type="text" name="direccio">
			<br>
			CP: <br> <input type="text" name="cp">
			<br>
			Telefon: <br> <input type="text" name="telefon">
			<br>
			<input type="submit" name="Enviar">
		</form>
	</div>
		<%if (result.length > 0) { %>
		<p>
	
			<%= result %>
		</p>
		<% } %>
</body>
</html>
